# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project Outputs
data/outputs/
local/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini